
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-top: 50px;
    padding-bottom: 50px;
}

.heading > .main{
    font-size: 80px;
    font-weight: 600;
    color: rgb(188, 9, 9);
    padding-bottom: 10px;
    text-shadow: 2px 2px white;
    font-style: montserrat;
}

.heading > .sub{
    color: white;
    margin-left: 320px;
    font-style: italic;
}